<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>widget</title>
    <style>
        .input{
            background-color: aqua;
        }
    </style>
</head>
<body>
    <h1>Formulario en Django Widget</h1>
    <hr>
    <form action="{% url 'widget' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Enviar">
    </form>
        
     
</body>
</html>